[Unit]
Description=2Mic Button

[Service]
Type=simple
ExecStart=/home/user/JarvisChatBot/venv/bin/python3 /home/user/JarvisChatBot/gpio_button.py
WorkingDirectory=/home/user/JarvisChatBot
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target