{
    "elevenlabs_key": "d64...",
    "elevenlabs_voice_id": "BcSJ53Vx4RN4BETDAYVc",
    "use_elevenlabs": true,
    "openai_key":"sk-...",
    "openai_model":"gpt-4o-mini",
    "imgur_client_id": "d4...",
    "imgur_client_secret": "fa4...",
    "use_imgur": true,
    "upload_folder": "uploads",
    "stream_responses": false,
    "assistant_name": "Jarvis",
    "oww_sample_rate": 16000,
    "oww_channels": 1,
    "oww_chunk_size": 1024,
    "oww_model_path": "jarvis_v2.tflite",
    "oww_inference_framework": "tflite",
    "slang": "en-US",
    "dynamic_energy_threshold": false,
    "energy_threshold": 500,
    "timeout": 10,
    "phrase_time_limit": 20,
    "system_prompt": "You are a voice assistant named {assistant_name}. You are based on the AI companion of Tony Stark in the Marvel Movies Ironman voiced by Paul Bettany. Your responses and wit should reflect that character. Make your answers short and concise so they can be spoken back in 20 seconds or less. The main user will be a child between the ages of 5 and 12. Make the responses appropriate for that age group. Today is {today} and the current time is {theCurrentTime}. {weather_info} Keep track of this information, as you may be asked about it much later on. ",
    "use_frontend": true
}