{
    "elevenlabs_key": "d64...",
    "use_elevenlabs": true,
    "use_gtts": false,
    "openai_key":"sk-...",
    "openai_model":"gpt-4o-latest",
    "ai_service": "openai",
    "groq_key": "gsk_...",
    "groq_model": "llama-3.3-70b-versatile",
    "groq_vision_model": "llama-3.2-90b-vision-preview",
    "google_key": "asldfj...",
    "google_model": "gemini-2.0-flash-exp",
    "upload_folder": "uploads",
    "use_freeimage_host": true,
    "freeimage_key": "6d2...",
    "assistant": "jarvis",
    "oww_sample_rate": 16000,
    "oww_channels": 1,
    "oww_chunk_size": 1280,
    "oww_model": "{assistant_name}.tflite",
    "language": "en",
    "vad_threshold": 1000,
    "max_threshold": 5000,
    "led_brightness": 5,
    "print_audio_level": false,
    "dynamic_energy_threshold": false,
    "timeout": 10,
    "phrase_time_limit": 20,
    "system_prompt": "You are a voice assistant named {assistant_name}.{assistant_descr} Your responses, speech patterns, humor and wit should reflect that character. Make your answers short and concise so they can be spoken back in 10 seconds or less and don't respond with text that can't be spoken. The main user will be a child between the ages of 5 and 12. Today is {today} and the current time is {theCurrentTime}. {weather_info}",
    "use_frontend": true,
    "use_shairport-sync": false,
    "windows_task_author": "COMPUTERNAME\\USER",
    "radio_stream_url": "https://cmg.streamguys1.com/mia931/mia931-iheart.aac",
    "kids_radio_stream_url": "https://ample-a.revma.ihrhls.com/zc9414/29_17s11y3iq7oip02/playlist.m3u8"
}