{
    "elevenlabs_key": "d64...",
    "use_elevenlabs": true,
    "use_gtts": false,
    "openai_key":"sk-...",
    "openai_model":"gpt-4o-mini",
    "use_groq": false,
    "groq_key": "gsk_...",
    "groq_model": "llama-3.1-8b-instant",
    "imgur_client_id": "d4...",
    "imgur_client_secret": "fa4...",
    "use_imgur": true,
    "upload_folder": "uploads",
    "assistant": "jarvis",
    "oww_sample_rate": 16000,
    "oww_channels": 1,
    "oww_chunk_size": 1280,
    "oww_model": "{assistant_name}.tflite",
    "language": "en",
    "vad_threshold": 500,
    "print_audio_level": false,
    "dynamic_energy_threshold": false,
    "energy_threshold": 500,
    "timeout": 10,
    "phrase_time_limit": 20,
    "system_prompt": "You are a voice assistant named {assistant_name}.{assistant_descr} Your responses, speech patterns, humor and wit should reflect that character. Make your answers short and concise so they can be spoken back in 20 seconds or less. The main user will be a child between the ages of 5 and 12. Make the responses appropriate for that age group. Today is {today} and the current time is {theCurrentTime}. {weather_info} Keep track of this information, as you may be asked about it much later on. ",
    "use_frontend": true,
    "use_shairport-sync": false,
    "windows_task_author": "COMPUTERNAME\\USER"
}