openai
groq
elevenlabs
SpeechRecognition
pyaudio
geocoder
flask
flask_socketio
pyttsx3
pvporcupine
pvrecorder
gtts
dbus-python
python-vlc
tzlocal
google-genai
httpx==0.27.2
sounddevice
# Optional RPI-specific dependencies
RPi.GPIO; platform_system == "Linux"  # GPIO control for Raspberry Pi
gpiozero; platform_system == "Linux"  # GPIO utilities for Raspberry Pi
spidev; platform_system == "Linux"  # SPI control for Raspberry Pi
lgpio; platform_system == "Linux"  # GPIO utilities for Raspberry Pi