openai
groq
elevenlabs
SpeechRecognition
pygame
geocoder
flask
flask_socketio
gpiozero
lgpio
spidev
pyttsx3
RPi.GPIO
numpy==1.26.4
pvporcupine
pvrecorder
gtts
dbus-python
python-vlc
tzlocal
google-genai
httpx==0.27.2
sounddevice