[Unit]
Description=Play startup and shutdown sounds
Requires=sound.target
After=sound.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=aplay -D playback /home/user/JarvisChatBot/sounds/winxp_startup.wav
ExecStop=aplay -D playback /home/user/JarvisChatBot/sounds/winxp_shutdown.wav

[Install]
WantedBy=multi-user.target