<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{ assistant_dict['page_title'] }}</title>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script>
        var assistant_name = "{{ assistant_dict['name'] }}";
        var assistant_wake_word = "{{ assistant_dict['wake_word'] }}";
        var chatLogData = {{ chatlog|safe }};
        var images_disabled = {{ 'true' if images_disabled else 'false' }};
        var radio_playing = {{ 'true' if radio_playing else 'false' }};
        var max_threshold = {{ max_threshold }};
    </script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="icon" href='{{ url_for("static", filename="images/" + assistant_dict["name"].lower() + "-favicon.ico")}}'>
    <!-- Apple Touch Icons for iOS and other devices -->
    <link rel="apple-touch-icon" sizes="180x180" href='{{ url_for("static", filename="images/" + assistant_dict["name"].lower() + "-apple-touch-icon.png")}}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ url_for("static", filename="images/" + assistant_dict["name"].lower() + "-favicon-32x32.png")}}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ url_for("static", filename="images/" + assistant_dict["name"].lower() + "-favicon-16x16.png")}}'>
    <!-- Web App Manifest -->
    <link rel="manifest" href='{{ url_for("static", filename="" + assistant_dict["name"].lower() + "-manifest.json")}}'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        label[for="file-upload"] {
            background-image: url('{{ url_for("static", filename="images/image.png") }}');
        }
    </style>
</head>
<body>
    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a id="homeLink" href="/">Home</a>
        <a id="historyLink" href="/history">History</a>
    </div>
    <div id="chatContainer">
        <h1 id="header" title="{{ assistant_dict['acronym'] }}">
            <span class="hamburger" onclick="openNav()">&#9776;</span>
            <img class="assistant_name-icon" src='{{ url_for("static", filename="images/" + assistant_dict["name"].lower() + "-favicon-48x48.png")}}'/>
            <select id="assistantSelect">
                {% for key, assistant in assistants.items() %}
                    <option value="{{ key }}" {% if key == assistant_dict['name'].lower() %}selected{% endif %}>{{ assistant.page_title }}</option>
                {% endfor %}
            </select>
            <div class="vad_container">
                <label for="thresholdSlider">Voice Threshold: </label>
                <input type="range" id="thresholdSlider" min="1" max="{{ max_threshold }}" value="{{ vad_threshold }}">
                <span id="thresholdValue">{{ vad_threshold }}</span>
                <span id="redDot"></span>
            </div>
            <div id="statusMsg"></div>
            <button id="radioControlButton" onclick="toggleRadio()">Play Radio</button>
            <button id="kidRadioControlButton" onclick="toggleKidRadio()">Play Kid Radio</button>
        </h1>
        <div id="chat-log"></div>
        <form id="form" enctype="multipart/form-data">
            <div class="form-elements-container">
                <input type="text" id="prompt" name="prompt" placeholder="Enter a prompt" autocomplete="off">
                <input type="file" id="image" name="image" accept="image/png, image/jpeg, image/gif">
                <div id="imagePreviewContainer">
                    <img id="imagePreview" />
                </div>    
                <label for="file-upload" title="Upload Image"></label>
                <button type="submit" name="sendButton" id="sendButton" class="send-button" title="Submit Request">↑</button>
            </div>
        </form>
    </div>
</body>
</html>